<div class="row">
	<div class="col s12 l12 m12 x12">
		<h1>Dar una sugerencia</h1>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#" onclick="apretaste.send({command: 'SUGERENCIAS'})">Abiertas</a></li>
            <li class="tab"><a href="#" onclick="apretaste.send({command: 'SUGERENCIAS REGLAS'})">Reglas</a></li>

        </ul>
    </div>
</div>
<div>
	<div class="input-field col s12 l12 m12 x12">
		<textarea id="text" class="materialize-textarea"></textarea>
		<label for="text">Sugerencia</label>
	</div>
</div>

<div class="row">
    <div class="col s12 l12 m12 x12 right-align">
        <a class="btn-floating btn-large green" href="#!" onclick="post();" style="right:0px;">
            <i class="material-icons">send</i>
        </a>
    </div>
</div>


<div class="fixed-action-btn">
    <a class="btn-floating btn-large green" href="#!" onclick="apretaste.send({command: 'SUGERENCIAS'});">
        <i class="material-icons">keyboard_backspace</i>
    </a>
</div>