<div class="row">
	<div class="col s12 l12 m12 x12">
		<h1>Dar una sugerencia</h1>
    </div>
	<div class="input-field col s12 l12 m12 x12">
		<textarea id="text" class="materialize-textarea"></textarea>
		<label for="text">Sugerencia</label>
	</div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large green" href="#!" onclick="post();">
        <i class="material-icons">keyboard_backspace</i>
    </a>
</div>