<div class="row">
	<div class="col s12 l12 m12 x12">
		<h1><%- titulo %></h1>
	</div>
</div>
<div class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#" onclick="apretaste.send({command: 'SUGERENCIAS'})">Abiertas</a></li>
            <li class="tab"><a href="#" onclick="apretaste.send({command: 'SUGERENCIAS REGLAS'})">Reglas</a></li>

        </ul>
    </div>
</div>
<div class="row">
	<div class="col s12 l12 m12 x12">
		<p><%- mensaje %></p>
	</div>
</div>

<div class="fixed-action-btn hide-on-share">
    <a class="btn-floating btn-large waves-effect waves-light" href="#!" onclick="apretaste.send({'command':'SUGERENCIAS CREAR'})">
        <i class="material-icons">comment</i>
    </a>
</div>
