<%- cmpTabs(activeTab) %>

<div class = "row">
	<div class = "col s12 l12 m12 x12">
		<p id="nochats" class="center grey-text text-lighten-1"><%- titulo %>. <%- mensaje %></p>
	</div>
</div>

<div class = "fixed-action-btn hide-on-share">
	<a class = "btn-floating btn-large waves-effect waves-light" href = "#!" onclick = "apretaste.send({'command':'SUGERENCIAS CREAR'})">
		<i class = "material-icons">comment</i>
	</a>
</div>
