<div class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#" onclick="apretaste.send({command: 'SUGERENCIAS'})">Abiertas</a></li>
            <li class="tab"><a href="#" onclick="apretaste.send({command: 'SUGERENCIAS APROBADAS'})">Aprobadas</a></li>
            <li class="tab"><a href="#" class="active">Reglas</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col s12 l12 m12 x12">
        <b>Como dar ideas, votar y ganar créditos</b>
        <p>Este servicio fue creado para escuchar sus ideas de como mejorar nuestra plataforma, y poner en práctica las
            más populares. Si usted nos ayuda ya sea dándonos ideas o votando por las mejores ideas de otros, ganará
            créditos; es nuestra forma de decir Gracias. A continuación explicamos como participar y sacar máximo
            provecho de nuestro servicio SUGERENCIAS.</p>

        <b>Agregando sus ideas</b>
        <ul class="rules">
            <li>Puede presionar el botón "Agregar" al final de la pantalla inicial para agregar una idea a la lista.
            </li>
            <li>Para que una idea sea Aprobada, se necesita recolectar un número específico de votos.</li>
            <li>Al aprobarse la idea, el usuario que la sugerió ganara §5, y quienes votaron ganarán §0.5.</li>
            <li>Si una idea no logra alcanzar los votos necesarios en 15 días, queda automáticamente rechazada y nadie
                gana nada.
            </li>
        </ul>

        <b>Votando por otras ideas</b>
        <ul class="rules">
            <li>Usted puede votar por ideas de otros o por sus propias ideas, pero solo se permite un voto por idea.
            </li>
            <li>Solo se puede votar por 5 ideas a la vez. Le recomendamos que use sus votos para apoyar las mejores
                ideas que vea.
            </li>
            <li>Cuando una idea que usted apoya es aprovada o rechazada, se le devuelve su voto para que lo use en otras
                ideas.
            </li>
        </ul>

        <b>¿Que pasa cuando gane o pierda?</b>
        <ul class="rules">
            <li>Si su idea es genial, pero no recibe suficientes votos, siempre puede sugerirla nuevamente.</li>
            <li>Esta es su oportunidad de unir a sus amigos y votar por las mejores ideas para mejorar Apretaste.</li>
            <li>Todas las ideas aceptadas serán implementadas tan rápido como nuestro tiempo y recursos lo permita.</li>
        </ul>
        <p>Gracias por participar y por ayudarnos a mejorar nuestro servicio, si tiene cualquier duda por favor escriba
            a nuestro equipo de soporte y con gusto le atenderemos.</p>
    </div>
</div>