<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'SUGERENCIAS'})">Abiertas</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'SUGERENCIAS BUSCAR'})">Buscar</a></li>
			<li class="tab"><a href="#" class="active">Reglas</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<ul class="collection number-list">
			<li class="collection-item avatar">
				<i class="number circle">1</i>
				<p class="green-text">Como dar ideas, votar y ganar créditos</p>
				<p>Este servicio fue creado para escuchar sus ideas de como mejorar nuestra plataforma, y poner en práctica las más populares. Si usted nos ayuda ya sea dándonos ideas o votando por las mejores ideas de otros, ganará créditos; es nuestra forma de decir Gracias. A continuación explicamos como participar y sacar máximo provecho de este servicio.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">2</i>
				<p class="green-text">Agregando sus ideas</p>
				<p>Puede presionar el botón "Agregar" al final de la pantalla inicial para agregar una idea a la lista. Para que una idea sea Aprobada, se necesita recolectar un número específico de votos. Al aprobarse la idea, el usuario que la sugerió ganara §5, y quienes votaron ganarán §0.5. Si una idea no logra alcanzar los votos necesarios en 15 días, queda automáticamente rechazada y nadie gana nada.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">3</i>
				<p class="green-text">Votando por otras ideas</p>
				<p>Usted puede votar por ideas de otros o por sus propias ideas, pero solo se permite un voto por día. Le recomendamos que use su voto diario para apoyar las mejores ideas que vea. Todos los días puede entrar nuevamente y votar por nuevas ideas, o por las mismas.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">4</i>
				<p class="green-text">¿Que pasa cuando gane o pierda?</p>
				<p>Si su idea es genial, pero no recibe suficientes votos, siempre puede sugerirla nuevamente. Esta es su oportunidad de unir a sus amigos y votar por las mejores ideas para mejorar Apretaste. La ideas aceptadas pasarán a discusión en el equipo de Apretaste, las que sean viables serán implementadas tan rápido como nuestro tiempo y recursos lo permita.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">5</i>
				<p class="green-text">¿Que pasa cuando gane o pierda?</p>
				<p>Cada hora el servidor revisa que sugerencias tienen los votos necesarios para ser aprobadas, las aprueba y otorga el crédito a todos los que contribuyeron. Si aún no recibe su crédito, por favor espere un poco.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">6</i>
				<p class="green-text">¿Se ha quedado con dudas?</p>
				<p>Gracias por participar y por ayudarnos a mejorar nuestro servicio, si tiene cualquier duda por favor <a href="#!" onclick="apretaste.send({command:'AYUDA SOPORTE'})">escriba a nuestro equipo de soporte</a> y con gusto le atenderemos.</p>
			</li>
		</ul>
	</div>
</div>
