<div class="row">
	<div class="col s12 l12 m12 x12">
		<h1><%- titulo %></h1>
		<p><%- mensaje %></p>
	</div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large green" href="#!" onclick="apretaste.send({command: 'SUGERENCIAS'});">
        <i class="material-icons">keyboard_backspace</i>
    </a>
</div>